*{
    padding:0px;
    margin:0px;
    font-family:"poppins", sans-serif;
    box-sizing:border-box;
}
nav{
    width:100%;
    height: 75px;
    /* line-height: 75px; */
    padding: 0px 100px;
    position: fixed;
    background-color:rgb(13, 95, 91)
}
nav .header p{
    font-size:30px;
    font-weight:bold;
    float:left;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:1.5px;
    cursor:pointer;
    line-height: 75px;
}
nav ul{
    float:right;
}
nav li{
    display:inline-block;
    list-style:none;
}
nav ul li a{
    font-size:18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color:white;
    text-decoration:none;
    line-height: 75px;
}
nav li a:hover{
    color:#12e792;
    transition: all 0.4s ease 0s;
}
.user-pic{
    width:70px;
    border-radius:50%;
    cursor:pointer;
    float:right;
}
.sub-menu-wrap{
    position:absolute;
    top:100%;
    right:5%;
    width:230px;
    max-height:0px;
    transition: max-height 0.5s;
    overflow:hidden;
}
.sub-menu-wrap.open-menu{
    max-height:280px;
}
.sub-menu{
    background:#fff;
    padding:10px;
    margin:10px;
}
.sub-menu-link{
    display:flex;
    align-items:center;
    text-decoration: none;
    color:#504e4d;
    margin:12px 0;
}
.sub-menu-link p{
    width:100%;
    color:rgb(77, 75, 75);

}
.sub-menu-link span{
    font-size: 15px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform:translateX(5px);
}
.sub-menu-link:hover p{
    font-weight:600;
}
.bg-image img{
    width:100%;
    height:100vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}
.footer{
    background-color:#333434;
}
h3{
    text-align:left;
    color:#f8f1f1;
}
 p{
    margin-left:10px;
    color:#dccdcd;
}
.main p{
    color:black;
}

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 0px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center pre {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

/* .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
} */

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}
@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
} 
