{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KHARCHA PAANI</title>
    <link rel ="stylesheet" href = "{% static 'style.css' %}"/>
</head>

<body>
    
    <div class ="container">
        
        <div class ="form-box">
            <h1 id="title">Sign up</h1>
            <style>
                h5{
                    color: red
                }
            </style>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>

            {% endfor %}
        
            <form method ="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="join">
                    <br> <br>
                    <a href ="{% url 'next' %}">Join as a guest</a>
                    <br>
                </div>
                <div class="button-field">
                    <!-- <button type="submit" id="signupBtn" value="SignUp" <a href ="next">Sign Up</a> </button> -->
                    <button type="submit" id="signupBtn" value="SignUp" > <a href ="register">Sign up</a> </button>
              
                    <button type="submit" id="signinBtn" value="SignIn" class="disable"> <a href ="login">Sign In</a> </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
                
