{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel ="stylesheet" href = "{% static 'nextstyle.css' %}"/>
</head>
<body>
    <nav>
        <div class="header">
            <p>KHARCHA PAANI</p>
        </div>

        <ul>
            <style>
                #msg{
                    font-size: 17px;
                    color:rgb(241, 238, 38); 
                    margin-right: 20px;
                }
            </style>
            <li> <a href="create.html">Create a room</a></li>
            <li> <a href="join.html">Join a room</a></li>
            <li> <a href="{% url 'first' %}">My expenses</a></li>
            <img src="expenses.jpg" class="user-pic" onclick="toggleMenu()">
            <li>
                <span id="msg">{{request.user}}</span>
            </li>
        </ul>
        
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <a href="#" class="sub-menu-link">
                    <p>Edit Profile</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <p>Settings & Privacy</p>
                    <span>></span>
                </a>
                <a href="{% url 'logout' %}" class="sub-menu-link">
                    <p>Log Out</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </nav>
    <div class="bg-image">
        <img src="expenses.jpg">
        <div class="image-text">
            <h3>THIS IS A GOO</h3>

        </div>
    </div>
  {% include 'footer.html %}
    <script>
        let subMenu =document.getElementById("subMenu");
        
        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    </script>
</body>
</html>
