{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel ="stylesheet" href = '{% static "style.css" %}'>
</head>
<body>
    <div class ="container">
        <div class ="form-box">
            <h1 id="title">Sign up</h1>
            <br>
            <style>
                h5{
                    color: red
                }
            </style>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
            <form method = "POST" action = "register">
                {% csrf_token %}
                <div class = "input-group">
                    <div class = "input-field" id ="nameField">
                        <lable for="text" class="name">Name:</lable>
                        <input type ="text" name="name" placeholder ="Name">
                    </div>
                    <div class ="input-field">
                        <lable for="email" class="email">Email:</lable>
                        <input type ="email" name="email" placeholder ="Email">
                    </div>
                    <div class ="input-field">
                        <lable for="text" class="password">Password:</lable>
                        <input type ="password" name="password" placeholder ="Password">
                    </div>
                    <div class ="input-field">
                        <lable for="text" class="repassword">Confirm Password:</lable>
                        <input type ="password"name="password2" placeholder ="Re-type Password">
                    </div>
                    
                    <div class="btn-field">
                        <!-- <a href ="next">SUBMIT</a> -->
                        <button type ="submit" id="submit" class="submit">Create Account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
