<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel ="stylesheet" href = "style.css"/>
</head>
<body>
    <div class ="container">
        <div class ="form-box">
            <h1 id="title">Sign up</h1>
            <form >
                <div class = "input-group">
                    <div class = "input-field" id ="nameField">
                        <lable for="text" class="name">Name:</lable>
                        <input type ="text" name="name" placeholder ="Name">
                    </div>
                    <div class ="input-field">
                        <lable for="text" class="email">Email:</lable>
                        <input type ="email" name="email" placeholder ="Email">
                    </div>
                    <div class ="input-field">
                        <lable for="text" class="password">Password:</lable>
                        <input type ="password" name="password" placeholder ="Password">
                    </div>
                    <div class ="input-field">
                        <lable for="text" class="repassword">Confirm Password:</lable>
                        <input type ="repassword"name="password2" placeholder ="Re-type Password">
                    </div>
                    <div class="submit">
                        <a href ="/devjam/next.html">SUBMIT</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
